/* fonts */

@font-face {
  font-family: "PPNeueMontrealMono-Medium", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Medium.otf";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontrealMono-Bold", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Bold.otf";
  font-weight: 800;
  font-style: normal;
}

/* fonts end here */  

html {
    scroll-behavior: smooth;
    background-color: oklch(15.704% 0.021 308.539);
}
body {
    background-color: oklch(15.704% 0.021 308.539);
    color: oklch(100.0% 0 0);
}

.container {
    font-family: "PPNeueMontrealMono-Medium", monospace;
    background-color: oklch(42.345% 0.09476 308.845);
    border: 1px solid oklch(0.5119 0.1131 308.539);
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    margin-bottom: 35px; 
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    /* float:left; make it go left */
    /* margin-left: 9%; */
    display:flex;
    flex-flow:column;
}

.container-invis {
    font-family: "PPNeueMontrealMono-Medium", monospace;
    background-color: oklch(100% 0.00011 271.152 / 0);
    border: 1px solid oklch(0.5119 0.1131 308.539);
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    /* float:left; make it go left */
    /* margin-left: 9%; */
    display:flex;
    flex-flow:column;
}

@media screen and (min-width: 1400px) {
    .navcontainer {
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right:1%;

    font-family: "PPNeueMontrealMono-Medium", monospace;
    background-color: oklch(42.345% 0.09476 308.845);
    border: 1px solid oklch(0.5119 0.1131 308.539);
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    margin: 50px auto; /* centers the container horizontally */
    max-width: 175px; /* maximum width of the container */
    width: 30%; /* base width of the container */
    padding: 12px; /* inner spacing */
    text-align: left;
    }
}

@media screen and (max-width: 1400px) {
    .navcontainer {
        display: none !important;
    }
}

img {
    width: 80%;
    height: 80%;
}

.image-container {
    font-family: "PPNeueMontrealMono-Medium", monospace;
    background-color: oklch(42.345% 0.09476 308.845 / 0);
    border: 1px solid oklch(0.5119 0.1131 308.539);
    margin-top: 0px;
    border-radius: 10px;
    margin: 50px auto; /* centers the container horizontally */
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    height: fit-content;
    /* text-align: center; */
    overflow: auto;
    display: flex;
    flex-direction: column;

}

.image-container .text {
    margin-right: 50px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    padding: 8px;
    display: flex;
}


.button {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    font-weight: 700;
    font-style: normal;
    background-color: oklch(49.703% 0.15714 4.563);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    border: 1px solid oklch(49.703% 0.15714 4.563);
    border-radius: 5px;
    color: oklch(100% 0 0);
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    
    display: flex;
    max-width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button:hover {
   background-color: oklch(57.697% 0.14598 1.731);
}

.button:active {
    background-color: oklch(34.758% 0.09006 2.158);
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
    justify-content: center;
}

.center-on-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: oklch(94.3% 0.0476 86.96);
    margin-top:1%;
    margin-bottom:1%;
}

.container-invis p {
    margin-left: 2%;
    margin-right: 2%;
}

p + p {
    margin-top: 1em;
}

a {
    color: oklch(64.312% 0.20198 4.776);
    text-decoration: none;
    margin-left:0;
    margin-right:0;
}

a:hover {
    color: oklch(73.75% 0.12233 359.107);
    text-decoration: none;
}

div.scroll-container {
    background-color: oklch(45.303% 0.04487 94.54 / 0);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
}

hr {
  color: oklch(71.486% 0.1258 84.937);
}

h1 {
  font-family: "PPNeueMontrealMono-Bold", monospace;
  color: oklch(90.3% 0.0576 86.96);
  margin-bottom: 1%;
  margin-left: 2%;
}

h2 {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    color: oklch(90.824% 0.02956 87.544);
    margin-bottom: 5px;
    margin-top: 5px;
}

.title {
    font-size: 4em;
}