/* fonts */

@font-face {
  font-family: "PPNeueMontrealMono-Medium", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Medium.otf";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontrealMono-Bold", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Bold.otf";
  font-weight: 800;
  font-style: normal;
}

/* fonts end here */  

html {
    scroll-behavior: smooth;
    background-color: oklch(15.704% 0.021 308.539);
}
body {
    background-color: oklch(15.704% 0.021 308.539);
    color: oklch(100.0% 0 0);
}

.container {
    background-color: oklch(0.1965 0.0613 308.845);
    border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    display:flex;
    flex-flow:column;
}

.container-notice {
    background-color: oklch(0.1587 0.0402 88.67);
    border-image: linear-gradient(to bottom right, oklch(0.8059 0.1652 94.64), oklch(0.8059 0.1652 72.98)) 1;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    display:flex;
    flex-flow:column;
}

.container-invis {
    border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background-color: oklch(100% 0.00011 271.152 / 0);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    display:flex;
    flex-flow:column;
}

.non-container-content {
    background-color: oklch(100% 0.00011 271.152 / 0);
    border: 1px solid oklch(51.232% 0.11309 308.267 / 0);
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    display:flex;
    flex-flow:column;
}

@media screen and (min-width: 1400px) {
    .navcontainer {
        display:flex;
        flex-direction: column;
        position: fixed;
        top:0;
        right:1%;

        font-family: "PPNeueMontrealMono-Medium", monospace;
        background-color: oklch(0.1965 0.0613 308.845);
        border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
        border-width: 1px;
        border-style: solid;
        box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
        margin: 50px auto; /* centers the container horizontally */
        max-width: 175px; /* maximum width of the container */
        padding: 10px; /* inner spacing */
        text-align: left;
    }
}

details {
    color: oklch(90.3% 0.0576 86.96);
    
    summary::marker {
        content: "<<<";
    }

    &[open] summary::marker {
        content: ">>>";
    }
}

@media screen and (max-width: 1400px) {
    .navcontainer {
        display: none !important;
    }
}

img {
    height: 95vh;
    width: auto;
}

.image-container {
    border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background-color: oklch(100% 0.00011 271.152 / 0);
    margin-top: 0px;
    margin: 50px auto; /* centers the container horizontally */
    max-width: 1200px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;

}

.image-container .text {
    margin-right: 50px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    padding: 8px;
    display: flex;
}


.button {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    font-weight: 700;
    font-style: normal;
    background-color: oklch(49.703% 0.15714 4.563);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    border: 2px solid oklch(49.703% 0.15714 4.563);
    color: oklch(100% 0 0);
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    
    display: flex;
    max-width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button:hover {
    background-color: oklch(34.758% 0.09006 2.158);
    color: oklch(100% 0 0);
    border-image: linear-gradient(to top right, oklch(49.703% 0.15714 4.563), oklch(0.6612 0.1613 39.13)) 1;
    border-width: 2px;
}

.button:active {
    background-color: oklch(27.758% 0.09006 2.158);
}

.button-curpage {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    font-weight: 700;
    font-style: normal;
    background-color: oklch(34.758% 0.09006 2.158 / 0);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    border-image: linear-gradient(to top right, oklch(49.703% 0.15714 4.563), oklch(0.6612 0.1613 39.13)) 1;
    border-width: 2px;
    border-style: solid;
    color: oklch(100% 0 0);
    cursor: default;
    padding: 10px 20px;
    text-decoration: none;
    
    display: flex;
    max-width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-curpage:hover {
    color: oklch(100% 0 0);
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
    justify-content: center;
}

.center-on-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    color: oklch(94.3% 0.0476 86.96);
    margin-top:1%;
    margin-bottom:1%;
    margin-left: 2%;
    margin-right: 2%;
}

.container-invis p {
    margin-left: 2%;
    margin-right: 2%;
}

.container p {
    margin-left: 2%;
    margin-right: 2%;
}

.image-container p {
    margin-left: 2%;
    margin-right: 2%;
}

p + p {
    margin-top: 1em;
}

a {
    font-family: "PPNeueMontrealMono-Medium", monospace;
    color: oklch(64.312% 0.20198 4.776);
    text-decoration: none;
    margin-left:0;
    margin-right:0;
}

a:hover {
    color: oklch(73.75% 0.12233 359.107);
    text-decoration: none;
}

div.scroll-container {
    background-color: oklch(45.303% 0.04487 94.54 / 0);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
}

hr {
  color: oklch(71.486% 0.1258 84.937);
}

h1 {
  font-family: "PPNeueMontrealMono-Bold", monospace;
  color: oklch(90.3% 0.0576 86.96);
  margin-bottom: 1%;
  margin-left: 2%;
}

h2 {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    color: oklch(90.824% 0.02956 87.544);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

.title {
    font-size: 4em;
}