/* fonts */

@font-face {
  font-family: "PPNeueMontrealMono-Medium", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Medium.otf";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontrealMono-Bold", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Bold.otf";
  font-weight: 800;
  font-style: normal;
}

/* fonts end here */  

html {
    scroll-behavior: smooth;
    background-color: oklch(15.704% 0.021 308.539);
}
body {
    background-color: oklch(15.704% 0.021 308.539);
    color: oklch(100.0% 0 0);
}

.hotl-header {
    font-size: 1.5vw;
    background-image: linear-gradient(to top left, oklch(49.703% 0.15714 4.563), oklch(0.6612 0.1613 39.13));
    color: transparent;
    background-clip: text;
    align-self: center;
    justify-self: center;
}

.lana-header {
    font-size: 3vw;
    background-image: linear-gradient(to top left, oklch(49.703% 0.15714 4.563), oklch(0.6612 0.1613 39.13));
    color: transparent;
    background-clip: text;
    align-self: center;
    justify-self: center;
}

.container {
    background-color: oklch(0.1965 0.0613 308.845);
    border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 75vw; /* maximum width of the container */
    width: 100%;
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    display:flex;
    flex-flow:column;
}

.container-notice {
    background-color: oklch(0.1587 0.0402 88.67);
    border-image: linear-gradient(to bottom right, oklch(0.8059 0.1652 94.64), oklch(0.8059 0.1652 72.98)) 1;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 75vw; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    display:flex;
    flex-flow:column;
}

.container-invis {
    border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background-color: oklch(100% 0.00011 271.152 / 0);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 75vw; /* maximum width of the container */
    padding: 1.5vw; /* inner spacing */
    max-height: fit-content;
    height: min-content;

    display:flex;
    flex-flow:column;
}

.non-container-content {
    background-color: oklch(100% 0.00011 271.152 / 0);
    border: 1px solid oklch(51.232% 0.11309 308.267 / 0);
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    
    margin: 25px auto; /* centers the container horizontally */
    max-width: 75vw; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    max-height: fit-content;
    display:flex;
    flex-flow:column;
}

@media screen and (min-width: 1400px) {
    .navcontainer {
        display:flex;
        flex-direction: column;
        position: fixed;
        top:0;
        right:1%;

        font-family: "PPNeueMontrealMono-Medium", monospace;
        background-color: oklch(0.1965 0.0613 308.845);
        border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
        border-width: 1px;
        border-style: solid;
        box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
        margin: 50px auto; /* centers the container horizontally */
        max-width: 175px; /* maximum width of the container */
        padding: 10px; /* inner spacing */
        text-align: left;
    }
}

@media screen and (max-width: 1400px) {
    .navcontainer {
        display: none !important;
    }
}

details {
    color: oklch(90.3% 0.0576 86.96);
    
    summary::marker {
        content: "<<<";
    }

    &[open] summary::marker {
        content: ">>>";
    }
}

.footer {
    text-align: center;
}

img {
    height: auto;
    width: auto;
}

.lth-image {
    height: auto;
    width: 30vw;
    justify-self: center;
    align-self: center;
}

/* 88x31 Rules */
.footer img {
  display: inline;
  border-radius: 0;
  width: 88px;
  height: 31px;
  margin: 0;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

/* IF BIG */
@media screen and (orientation: landscape) {
    .image-container {
        border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        background-color: oklch(100% 0.00011 271.152 / 0);
        margin-top: 0px;
        margin: 50px auto; /* centers the container horizontally */
        max-width: 75vw; /* maximum width of the container */
        padding: 24px; /* inner spacing */
        height: fit-content;

        overflow: auto;
        display: flex;
        flex-direction: row;
    }

    .image-container .text {
        margin-right: 0;
    }

    .image-container img {
        max-width: 100%;
        max-height: 95vh;
        padding: 8px;
        display: flex;
        
        aspect-ratio: auto;
    }

    .image-container-vertical {
        border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        background-color: oklch(100% 0.00011 271.152 / 0);
        margin: 0px;
        max-width: 75vw; /* maximum width of the container */
        padding: 24px; /* inner spacing */
        text-wrap-mode: nowrap;
        width: 50vw;

        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .image-container-vertical h1 {
        width: max-content;
    }

    .image-container-vertical img {
        max-width: 100%;
        max-height: 95vh;
        padding: 8px;
        display: flex;
        
        aspect-ratio: auto;
    }

    .multi-container {
        display: flex;
        flex-flow:wrap row;
        align-items: stretch;
        justify-content: space-between;
        gap: 5vw;

        max-width: 78vw;
        height: fit-content;
        padding: 0px;
        margin: 0px auto;
    }

    .multi-container .image-container-vertical {
        width: 36vw
    }

    .width-50p {
        max-width: 36vw;
        display:flex;
    }

    .width-15p {
        width: 14%;
        display:flex;
    }
}
/*          */
/* IF SMALL */
@media screen and (orientation: portrait) {
    .image-container {
        border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        background-color: oklch(100% 0.00011 271.152 / 0);
        margin-top: 0px;
        margin: 50px auto; /* centers the container horizontally */
        max-width: 75vw; /* maximum width of the container */
        padding: 24px; /* inner spacing */
        height: fit-content;

        overflow: auto;
        display: flex;
        flex-direction: column; 
    }

    .image-container img {
        max-width: 100%;
        max-height: 95vh;
        padding: 8px;
        display: flex;
        
        aspect-ratio: auto;
    }
    
    .image-container-vertical {
        border-image: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5)) 1;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        background-color: oklch(100% 0.00011 271.152 / 0);
        margin: 0px;
        max-width: 90vw; /* maximum width of the container */
        padding: 24px; /* inner spacing */
        text-wrap-mode: nowrap;
        height:max-content;
        width: 85vw;

        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .image-container-vertical h1 {
        width: max-content;
        margin-left:3%;
    }

    .image-container-vertical img {
        max-width: 100%;
        max-height: 95vh;
        padding: 8px;
        display: flex;
        
        aspect-ratio: auto;
    }

    .multi-container {
        display: flex;
        flex-flow:column;
        align-items:center;
        justify-content: center;
        gap: 3vw;

        max-width: 100vw;
        height: fit-content;
        padding: 5px;
        margin: 25px;
        margin-left:0px;
        margin-right:0px;
    }

    .width-50p {
        width: 85vw;
        display: flex;
    }
    
    .width-15p {
        width: 75vw;
        display:flex;
    }
}

.multi-container .container-invis {
    display: flex;
    flex-flow: column;
    margin-left: 0px; 
    margin-right: 0px;
    width: 100%;
}

.width-85p {
    width: 78%;
    display:flex;
}

.art-caption {
    margin-left: 0.5vw;
    max-width: 36vw;
    display:flex;
    flex-flow: column;
}

.flex-column {
    flex-direction: column;
}

.button {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    font-weight: 700;
    font-style: normal;
    background-color: oklch(49.703% 0.15714 4.563);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    border: 2px solid oklch(49.703% 0.15714 4.563);
    color: oklch(100% 0 0);
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    justify-content: center;
    
    display: flex;
    max-width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button:hover {
    background-color: oklch(34.758% 0.09006 2.158);
    color: oklch(100% 0 0);
    border-image: linear-gradient(to top right, oklch(49.703% 0.15714 4.563), oklch(0.6612 0.1613 39.13)) 1;
    border-width: 2px;
}

.button:active {
    background-color: oklch(27.758% 0.09006 2.158);
}

.socials {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: fit-content;
}

.socials .button {
    max-width: 50%;
    width: 50%;
    justify-content: center;
    align-self: center;
    margin: 5px;
}

.socials h1 {
    align-self: center;
    margin: 0px;
}

.button-curpage {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    font-weight: 700;
    font-style: normal;
    background-color: oklch(34.758% 0.09006 2.158 / 0);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    border-image: linear-gradient(to top right, oklch(49.703% 0.15714 4.563), oklch(0.6612 0.1613 39.13)) 1;
    border-width: 2px;
    border-style: solid;
    color: oklch(100% 0 0);
    cursor: default;
    padding: 10px 20px;
    text-decoration: none;
    
    display: flex;
    max-width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-curpage:hover {
    color: oklch(100% 0 0);
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
    justify-content: center;
}

.center-on-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    color: oklch(94.3% 0.0476 86.96);
    margin-top:1%;
    margin-bottom:1%;
    margin-left: 2%;
    margin-right: 2%;
}

.container-invis p {
    margin-left: 2%;
    margin-right: 2%;
}

.container p {
    margin-left: 2%;
    margin-right: 2%;
}

.image-container p {
    margin-left: 2%;
    margin-right: 2%;
}

p + p {
    margin-top: 1em;
}

a {
    font-family: "PPNeueMontrealMono-Medium", monospace;
    color: oklch(64.312% 0.20198 4.776);
    text-decoration: none;
    margin-left:0;
    margin-right:0;
}

a:hover {
    color: oklch(73.75% 0.12233 359.107);
    text-decoration: none;
}

div.scroll-container {
    background-color: oklch(45.303% 0.04487 94.54 / 0);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
    flex:auto;
    flex-direction:row;
}
  
div.scroll-container img {
    padding: 10px;
    width: 60vw;
    height: auto;
}

.scroll-container-bounds {
    overflow: hidden;
}

hr {
    background: linear-gradient(to bottom right, oklch(0.5119 0.1806 308.539), oklch(0.5119 0.1806 334.5));
    height:1px;
    border-radius: 2px;
    border:0px;
    width: 90%;
}

h1 {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    color: oklch(90.3% 0.0576 86.96);
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 0%;
    width:fit-content;
}

h2 {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    color: oklch(90.824% 0.02956 87.544);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 0%;
}

.title {
    font-size: 4em;
}