/* fonts */

@font-face {
  font-family: "PPNeueMontrealMono-Medium", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Medium.otf";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontrealMono-Bold", monospace;
  src: ".\static\resources\PPNeueMontrealMono-Bold.otf";
  font-weight: 800;
  font-style: normal;
}

/* fonts end here */  

html {
    scroll-behavior: smooth;
    background-color: oklch(27.3% 0.0182 80.72);
}
body {
    background-color: oklch(27.3% 0.0182 80.72);
    color: oklch(100.0% 0 0);
}

.container {
    font-family: "PPNeueMontrealMono-Medium", monospace;
    background-color: oklch(45.23% 0.0439 93.69);
    border: 1px solid oklch(48.23% 0.0439 93.69);
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    margin: 50px auto; /* centers the container horizontally */
    max-width: 1000px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
}

.navcontainer {
    position: fixed;
    top:0;
    right:1%;
    

    font-family: "PPNeueMontrealMono-Medium", monospace;
    background-color: oklch(45.23% 0.0439 93.69);
    border: 1px solid oklch(48.23% 0.0439 93.69);
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
    margin: 50px auto; /* centers the container horizontally */
    max-width: 1000px; /* maximum width of the container */
    padding: 12px; /* inner spacing */
    text-align: left;
}

img {
    width: 75%;
    height: 75%;
}

.image-container {
    font-family: "PPNeueMontrealMono-Medium", monospace;
    background-color: oklch(45.23% 0.0439 93.69);
    border: 1px solid oklch(48.23% 0.0439 93.69);
    margin-top: 0px;
    border-radius: 10px;
    margin: 50px auto; /* centers the container horizontally */
    max-width: 1000px; /* maximum width of the container */
    padding: 24px; /* inner spacing */
    height: 70%;
    /* text-align: center; */
    overflow: auto;
}

.image-container .text {
    margin-right: 50px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    padding: 8px;
}


.button {
    font-family: "PPNeueMontrealMono-Bold", monospace;
    font-weight: 700;
    font-style: normal;
    background-color: oklch(70.45% 0.1236 93.69);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    border: 1px solid oklch(81.45% 0.1236 93.69);
    border-radius: 5px;
    color: oklch(100% 0 0);
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
   background-color: oklch(65.45% 0.1236 93.69)
}

.center-on-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: oklch(94.3% 0.0476 86.96)
}

a {
    color: oklch(71.486% 0.1258 84.937);
    text-decoration: none;
}

a:hover {
    color: oklch(94.3% 0.0476 86.96);
    text-decoration: none;
}

div.scroll-container {
    background-color: oklch(45.23% 0.0439 93.69);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
}

hr {
  color: oklch(71.486% 0.1258 84.937);
}

h1 {
  font-family: "PPNeueMontrealMono-Bold", monospace;
  color: oklch(90.3% 0.0576 86.96)
}